/* About.module.css */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* Custom Font */
.customFont {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-align: right; /* Align text to the right */
  direction: rtl; /* Set text direction to right-to-left */
}

/* Container */
/* .container {
  padding: 20px;
} */

/* Horizontal Rule */
.hr {
  margin: 20px 0; /* Space around the hr */
  border: 1px solid #ddd; /* Customize the hr color and style */
}

/* Paragraph Style */
p {
  margin-bottom: 20px; /* Space below the paragraph */
}

/* Location Cards Container */
.locationCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Location Card */
.locationCard {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  cursor: pointer; /* Indicates that the card is clickable */
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* For positioning the hover effect */
}

.locationCard:hover {
  transform: scale(1.05); /* Slightly enlarges the card */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Adds a stronger shadow on hover */
}

/* Location Icon */
.locationIcon {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 15px;
}

/* Location Title */
.locationTitle {
  font-size: 20px;
  margin: 10px 0;
  color: #007bff;
}

/* Location Address */
.locationAddress {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}
